.board {
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    /* border: 2px solid black; */
}

.cell {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: background 0.3s;
    position: relative; /* Để căn chỉnh ảnh chính xác */
    overflow: hidden; /* Tránh ảnh bị tràn */
}

.cell img {
    width: 70%;  /* Điều chỉnh kích thước ảnh */
    height: auto; /* Đảm bảo tỷ lệ ảnh không bị méo */
    object-fit: contain;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Canh giữa ảnh hoàn hảo */
}


.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reset-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #0056b3;
  }
  
