@font-face {
  font-family: 'holidays';
  src: url('./assets/font/holiadays.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'comic_san';
  src: url(./assets/font/comic_san.TTF) format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* font appleberry */
@font-face {
  font-family: 'appleberry';
  src: url(./assets/font/appleberry.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fde2da;
  /* overflow: hidden; */
}



.landing-container {
  width: 295px;
  margin: 0 0 0 0;
  height: 1791px;
  background-color: #ffffff;
  /* overflow-y: auto; */
  position: relative;
}



.header {
  height: 45px;
  padding: 0;
  text-align: center;
  /* background-color: #ffffff; */
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header-cloud {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  /* nền trong suốt */
  background-color: rgba(255, 255, 255, 0);
}
@media screen and (min-width: 1024px) {
  .header-cloud img {
    width: 1098px;
    height: 330px;
  }
  
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Căn giữa logo */
  width: 100%;
}
.header-logo img {
  width: 22%;
}


/* .main-content {
} */

/* section 1 setting */
.section-1 {
  width: 100%;
  margin-top: -45px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.image-container {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  justify-content: center;
}

.image-container img {
  width: 468px;
  display: block;
  transform: translateX(-20%);
}

.overlay-text {
  position: absolute;
  top: 15%;
  left: 15%;
  color: #ffffff;  /* Adjust text color as needed */
  text-align: center;
  font-family: 'holidays', sans-serif;
  font-size: 16px;  /* Adjust font size as needed */
  /* Add more styling as needed */
}

.content-box {
  position: relative; /* Đặt làm khung chứa */
  display: inline-block;
}
.content-box p {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%); /* Canh giữa chữ */
  color: white; /* Màu chữ */
  font-size: 18px;
  font-weight: bold;
  font-family: 'holidays', sans-serif;
  text-align: center;
  width: 90%;
  z-index: 2; /* Đảm bảo chữ hiển thị trên ảnh */
}

.img1 {
  width: 100%;
  display: block;
}


/* middle section setting */
/* tôi muốn các thẻ con của thẻ này được căn giữa màn hình */
.middle-section {
  margin-top: -15px;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 30px;
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* làm mờ viền */
  /* box-shadow: 0 0 10px 10px #FCECE3; */
  animation: floatUpDown 2s cubic-bezier(0.6, 0.05, 0.2, 0.95) infinite;
}

.overlay img {
  width: 94px;
  display: block;
}


/* section 2 setting */
.section-2 {
  max-width: 100%;
  overflow: hidden;
  margin-top: -40px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 20;
}
.image-container-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.image-container-2 img {
  width: 312px;
  display: block;
  z-index: 3;
}

.content {
  display: flex;
  position: absolute;
  flex-direction: column; /* Xếp các thẻ theo chiều dọc */
  gap: 20px; /* Khoảng cách giữa các thẻ con */
}

.content-box {
  z-index: 4;
  display: flex;
  gap: 5%;
}
.content div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-box .img1 {
  width: 175px;
}
.content-box .img2 {
  width:  71px;
}

/* section 3 setting */

.section-3 {
  margin-top: -40px;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 375px;
  overflow: hidden;
  display: grid;
  place-items: center; /* Căn giữa cả ngang và dọc */
}

.section-3 img {
  position: absolute;
  bottom: 0; /* Gắn ảnh vào đáy section */
  left: 50%;
  transform: translateX(-50%);
  max-height: 750px; /* Giới hạn chiều cao ảnh */
  width: auto;
  object-fit: cover; /* Ảnh sẽ không bị méo khi thay đổi kích thước */
  transition: max-height 0.5s ease;

}

.letplay {
  z-index: 30;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  top: 15%;
}
.letplay:active {
  transform: scale(0.95); /* Hiệu ứng nhấn xuống */
}

.section-3 .letplay img {
  z-index: 100;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  object-fit: cover;
  transition: max-height 0.5s ease;
  pointer-events: none;
}

.caro-box {
  width: 237px;
  height: 239px;
  margin-top: 68px;
  position: absolute;
}
.caro-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secret-gift {
  display: inline-block;
  width: 205px;
  height: 205px;
  margin-top: 68px;
  position: absolute;
}
.secret-gift img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient img{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.gradient-overlay-text{
  margin: 0 0 0 0;
  position: absolute;
  margin-top: 3px;
  left: 4%;
  color: #ffffff;  /* Adjust text color as needed */
  text-align: center;
  display: inline;
  font-family: 'appleberry', sans-serif;
  font-size: 100%;  /* Adjust font size as needed */
  /* Add more styling as needed */
}

/* section 4 setting */
.section-4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 30;
  height: 168px;
}


.section-6 {
  position: relative;
  height: 200px;
  display: flex;
  z-index: 30;
  margin-top: -70px;
  margin-bottom: 0px;
}

.section6-back {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.section6-back img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  margin-bottom: -20px;
  /* transform: scale(1.5);
  transform-origin:center; */
}
.section-6 img {
  width: 100%;
  object-fit:cover;
}

.top-layer {
  position: absolute;
  display: flex;
  bottom:0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  justify-content: center;
  align-items: center;
}





@media screen and (min-width: 400px) {
  .landing-container {
    width: calc(295px * 1.2);
    height: calc(1791px * 1.2);
  }

  .image-container img {
    width: calc(468px * 1.2); 
  }

  .overlay-text {
    font-size: 18px;
  }

  .middle-section {
    margin-top: -18px;
    height: 36px;
  }

  .overlay img {
    width: 112px;
  }

  .section-2 {
    margin-top: -50px;
  }

  .image-container-2 img {
    width: calc(312px * 1.2);
  }

  .content {
    gap: 20px*1.2;
  }

  .content-box .img1 {
    width: 210px;
  }
  .content-box .img2 {
    width:  85px;
  }

  .section-3 {

    margin-top: -50px;
    height: 450px;
  }

  .caro-box {
    width: calc(237px*1.2);
    height: calc(239px*1.2);
    margin-top: calc(68px*1.2);
  }

  .secret-gift {
    width: calc(205px*1.2);
    height: calc(205px*1.2);
    margin-top: calc(68px*1.2);
  }

  .section-4 {
    height: calc(168px * 1.2);
  }

  .gradient-overlay-text{
    font-size: 120%;
    margin-top: calc(3px*1.2);
    /* margin-left: calc(10px*1.2); */
  }

  .section-6 {
    height: calc(200px * 1.2);
    margin-top: calc(-70px*1.2);
  }

  .section6-back img {
    margin-bottom: calc(-20px*1.2);
  }

  .top-layer {
    margin-bottom: calc(-20px*1.2);
  }

  
}

@media screen and (min-width: 768px) {
  .landing-container {
    width: calc(295px * 1.5);
    height: calc(1791px * 1.5);
  }

  .image-container img {
    width: calc(468px * 1.5);
  }

  .overlay-text {
    font-size: 20px;
    top:18%;
    left: 20%;
  }

  .middle-section {
    margin-top: -20px;
    height: 40px;
  }

  .overlay img {
    width: 141px;
  }
  

  .section-2 {
    margin-top: -60px;
  }

  .image-container-2 img {
    width: calc(312px * 1.5);
  }

  .content {
    gap: 20px*1.5;
  }

  .content-box .img1 {
    width: 262px;
  }

  .content-box .img2 {
    width:  106px;
  }

  .section-3 {
    margin-top: -60px;
    height: 525px;
  }

  .caro-box {
    width: calc(237px*1.5);
    height: calc(239px*1.5);
    margin-top: calc(68px*1.5);
  }

  .secret-gift {
    width: calc(205px*1.5);
    height: calc(205px*1.5);
    margin-top: calc(68px*1.5);
  }

  .section-4 {
    height: calc(168px * 1.5);
  }

  .gradient-overlay-text{
    font-size: 140%;
    margin-top: calc(3px*1.5);
    /* margin-left: calc(10px*1.5); */
  }

  .section-6 {
    height: calc(200px * 1.5);
    margin-top: calc(-70px*1.5);
  }

  .section6-back img {
    margin-bottom: calc(-20px*1.5);
  }

  .top-layer {
    margin-bottom: calc(-20px*1.5);
  }
}

@media screen and (min-width: 1024px) {
  .landing-container {
    width: calc(295px * 2);
    height: calc(1791px * 2);
  }
  .header {
    height: 90px;
  }

  .section-1 {
    margin-top: -90px;
  }

  .image-container img {
    width: calc(468px * 2);
  }

  .overlay-text {
    font-size: 24px;
    top: 20%;
    left: 22%;
    /* transform: translate(-75%, -250%); */
  }

  .middle-section {
    margin-top: -30px;
    height: 60px;
  }

  .overlay img {
    width: 188px;
  }

  .section-2 {
    margin-top: -80px;
  }
  .image-container-2 img {
    width: calc(312px * 2);
  }

  .content {
    gap: 20px*2;
  }

  .content-box .img1 {
    width: 350px;
  }

  .content-box .img2 {
    width:  142px;
  }

  .section-3 {
    margin-top: - 80px;
    height: calc(375px * 2);
  }

  .caro-box {
    width: calc(237px*2);
    height: calc(239px*2);
    margin-top: calc(68px*2);
  }
  .secret-gift {
    width: calc(205px*2);
    height: calc(205px*2);
    margin-top: calc(68px*2);
  }

  .section-4 {
    height: calc(168px * 2);
  }

  .gradient-overlay-text{
    font-size: 200%;
    margin-top: calc(3px*2);
    /* margin-left: calc(10px*2); */
  }

  .section-6 {
    height: calc(200px * 2);
    margin-top: calc(-70px*2);
  }

  .section6-back img {
    margin-bottom: calc(-20px*2);
  }

  .top-layer {
    margin-bottom: calc(-20px*2);
  }

}